.button {
  border-color: white;
  font-size: 16px;
  font-family: "Pinyon Script";
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

#button {
  border-color: white;
  font-size: 16px;
  font-family: "Pinyon Script";
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: top;

}

.btn-flat {
  color: black;
  padding: 3px 14px;
  border-color: black;
  transition: background 0.3s ease;
  font-family: "Pinyon Script";
}

.btn-flat:hover {
  background: #FFA33E;
  color: black;
}


